[Desktop Entry]
Name=Device floater
Icon=device-floater
Type=Application
Terminal=false
Categories=Utility;
Encoding=UTF-8
Comment=Floats xinput (X11) devices
Exec=device-floater
GenericName=Device floater
Name[en_US]=Device floater
