[Desktop Entry]
Name=Device Floater
Icon=device-floater
Type=Application
Terminal=false
Categories=Utility;
Encoding=UTF-8
Comment=Floats xinput (X11) devices
Exec=device-floater
GenericName=Device Floater
Name[en_US]=Device Floater
